version: '3.3'
services:
  metro-web:
    build:
      context: ../..
      dockerfile: build/docker/Dockerfile
    container_name: metro-producer
    networks:
      - dev_app-network
      - monitoring_rzp-dev-monitoring
    ports:
      - "8081:8081"
      - "8082:8082"
    environment:
      - APP_ENV=dev_docker
      - COMPONENT=web
      - GIT_COMMIT_HASH=dev_docker
      - KAFKA_CA_CERT=dummy_kafka_ca_cert
      - KAFKA_USER_CERT=dummy_kafka_user_cert
      - KAFKA_USER_KEY=dummy_kafka_user_key
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "8081"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: on-failure

  metro-worker:
    build:
      context: ../..
      dockerfile: build/docker/Dockerfile
    container_name: metro-worker
    networks:
      - dev_app-network
      - monitoring_rzp-dev-monitoring
    ports:
      - "8081:8081"
      - "8082:8082"
    environment:
      - APP_ENV=dev_docker
      - COMPONENT=worker
      - GIT_COMMIT_HASH=dev
      - KAFKA_CA_CERT=dummy_kafka_ca_cert
      - KAFKA_USER_CERT=dummy_kafka_user_cert
      - KAFKA_USER_KEY=dummy_kafka_user_key
    restart: on-failure

networks:
  dev_app-network:
    external: true
  monitoring_rzp-dev-monitoring:
    external: true
