# JetBrains project folders.
.idea/

# VSCode project folder
.vscode/*

# Desktop Services Store - Mac.
.DS_Store

# Vendor modules.
vendor/*

# App Binaries.
bin/*

# Documentation. Use `make docs` to generate
docs/*

# Ignores all mock/* directories in project.
# These are created by mockgen tool and only servers unit tests when they run.
mock/

# Dont ignore any .gitkeep files, please.
!*.gitkeep

.tmp

# Generated protobuf files.
rpc

# Generated or local configuration files.
config/dev.toml

# docker-compose .dev file in deployments.
# deployments/docker-compose.dev.yml

# statik which contains the generated openAPI docs
statik/*

# ignore any *.swagger.json as it is auto generated
/third_party/OpenAPI/**/*.swagger.json
