[app]
    appEnv                = "default"
    serviceName           = "metro"
    shutdownTimeout       = 2
    shutdownDelay         = 2
    gitCommitHash         = "nil"

[db]
    dialect               = "mysql"
    protocol              = "tcp"
    url                   = "127.0.0.1"
    port                  = "3306"
    username              = "metro"
    password              = "metro"
    sslMode               = "require"
    name                  = "metro"
    maxOpenConnections    = 5
    maxIdleConnections    = 5
    connectionMaxLifetime = 0

[tracing]
    serviceName           = "metro"
    logSpans              = false
    localAgentHostPort    = "localhost:6831"
    disabled              = true

[auth]
    username              = "key"
    password              = "secret"

[sentry]
    appName               = "metro"
    dsn                   = "dummy"
    mock                  = true
    errorLevel            = 1

[services]
    [services.producer]
        variant = "kafka"
        [services.producer.interfaces]
            [services.producer.interfaces.api]
                GrpcServerAddress     = "0.0.0.0:8081"
                HttpServerAddress     = "0.0.0.0:8082"
                InternalServerAddress = "0.0.0.0:8083"
        [services.producer.BrokerConfig]
            [services.producer.BrokerConfig.Producer]
                Brokers = ["localhost:9021"]
    [services.push_consumer]
    [services.pull_consumer]
