[app]
    appEnv                = "default"
    serviceName           = "metro"
    shutdownTimeout       = 2
    shutdownDelay         = 2
    gitCommitHash         = "nil"
[tracing]
    serviceName           = "metro"
    logSpans              = false
    localAgentHostPort    = "localhost:6831"
    disabled              = true
[sentry]
    appName               = "metro"
    dsn                   = "dummy"
    mock                  = true
    errorLevel            = 1

[producer]
    [producer.broker]
        variant               = "kafka"
        [producer.broker.brokerconfig]
            brokers       = ["localhost:9021"]
                [producer.broker.brokerconfig.Producer]
    [producer.registry]
        driver                    = "consul"
        [producer.registry.consulconfig]
            [producer.registry.consulconfig.config]
                address               = "localhost:8500"
                scheme                = "http"
    [producer.interfaces]
        [producer.interfaces.api]
            GrpcServerAddress     = "0.0.0.0:8081"
            HttpServerAddress     = "0.0.0.0:8082"
            InternalServerAddress = "0.0.0.0:8083"

[pushconsumer]
    [pushconsumer.broker]
        variant               = "kafka"
        [pushconsumer.broker.brokerconfig]
            brokers       = ["localhost:9021"]
                [pushconsumer.broker.brokerconfig.consumer]
    [pushconsumer.registry]
        driver                    = "consul"
        [pushconsumer.registry.consulconfig]
            [pushconsumer.registry.consulconfig.config]
                address               = "localhost:8500"
                scheme                = "http"
    [pushconsumer.interfaces]
        [pushconsumer.interfaces.api]
            GrpcServerAddress     = "0.0.0.0:8084"
            HttpServerAddress     = "0.0.0.0:8085"
            InternalServerAddress = "0.0.0.0:8086"

[pullconsumer]
    [pullconsumer.broker]
        variant               = "kafka"
        [pullconsumer.broker.brokerconfig]
            brokers       = ["localhost:9021"]
                [pullconsumer.broker.brokerconfig.consumer]
    [pull-consumer.registry]
        driver                    = "consul"
        [pull-consumer.registry.consulconfig]
            [pull-consumer.registry.consulconfig.config]
                address               = "localhost:8500"
                scheme                = "http"
    [pull-consumer.interfaces]
        [pull-consumer.interfaces.api]
            GrpcServerAddress     = "0.0.0.0:8087"
            HttpServerAddress     = "0.0.0.0:8088"
            InternalServerAddress = "0.0.0.0:8089"

[openAPIServer]
    httpServerAddress     = "0.0.0.0:3000"
    grpcGatewayAddress    = "localhost:8082"
    scheme                = "http"
