[app]
    appEnv                = "dev_docker"
    serviceName           = "metro"
    shutdownTimeout       = 2
    shutdownDelay         = 2
    gitCommitHash         = "nil"
[tracing]
    serviceName           = "metro"
    logSpans              = false
    host                  = "localhost"
    port                  = "6831"
    disabled              = false
[sentry]
    appName               = "metro"
    dsn                   = "dummy"
    mock                  = true
    errorLevel            = 1

[web]
    replicaCount              = 1
    consumePlaneDeployment    = "metro.svc.cluster.local"
    [web.broker]
        variant               = "kafka"
        [web.broker.brokerconfig]
            brokers       = ["kafka-broker:9092"]
            [web.broker.brokerconfig.web]
    [web.interfaces]
        [web.interfaces.api]
            GrpcServerAddress               = "0.0.0.0:8081"
            HttpServerAddress               = "0.0.0.0:8082"
            InternalHttpServerAddress       = "0.0.0.0:9000"

[consumePlane]
    replicaCount          = 1
    ordinalID             = 0
    [consumePlane.broker]
        variant               = "kafka"
        [consumePlane.broker.brokerconfig]
            brokers       = ["localhost:9092"]
            enableTLS     = false
            [consumePlane.broker.brokerconfig.consumePlane]
    [consumePlane.interfaces]
        [consumePlane.interfaces.api]
            GrpcServerAddress               = "0.0.0.0:8085"
            HttpServerAddress               = "0.0.0.0:8086"
            InternalHttpServerAddress       = "0.0.0.0:9003"
            
[worker]
    [worker.broker]
        variant               = "kafka"
        [worker.broker.brokerconfig]
            brokers       = ["kafka-broker:9092"]
            [worker.broker.brokerconfig.consumer]
    [worker.interfaces]
        [worker.interfaces.api]
            GrpcServerAddress               = "0.0.0.0:8083"
            HttpServerAddress               = "0.0.0.0:8084"
            InternalHttpServerAddress       = "0.0.0.0:9001"
    [worker.httpclientconfig]
            connectTimeoutMs        = 2000
            connKeepAliveMs         = 0
            expectContinueTimeoutMs = 0
            idleConnTimeoutMs       = 60000
            maxAllIdleConns         = 1000
            maxHostIdleConns        = 1000
            responseHeaderTimeoutMs = 25000
            tlsHandshakeTimeoutMs   = 2000

[registry]
    driver                    = "consul"
    [registry.consulconfig]
        [registry.consulconfig.config]
            address            = "consul:8500"
            scheme             = "http"

[openAPIServer]
    httpServerAddress     = "0.0.0.0:3000"
    grpcGatewayAddress    = "localhost:8085"
    scheme                = "http"

[admin]
    username = "admin"
    password = "supersecret"
