[app]
    appEnv                = "default"
    serviceName           = "metro"
    shutdownTimeout       = 2
    shutdownDelay         = 2
    gitCommitHash         = "nil"
[tracing]
    serviceName           = "metro"
    logSpans              = false
    localAgentHostPort    = "localhost:6831"
    disabled              = true
[sentry]
    appName               = "metro"
    dsn                   = "dummy"
    mock                  = true
    errorLevel            = 1

[web]
    [web.broker]
        variant               = "kafka"
        [web.broker.brokerconfig]
            brokers       = ["kafka-broker:9092"]
            [web.broker.brokerconfig.web]
    [web.interfaces]
        [web.interfaces.api]
            GrpcServerAddress     = "0.0.0.0:8081"
            HttpServerAddress     = "0.0.0.0:8082"

[worker]
    [worker.broker]
        variant               = "kafka"
        [worker.broker.brokerconfig]
            brokers       = ["kafka-broker:9092"]
            [worker.broker.brokerconfig.consumer]
    [worker.interfaces]
        [worker.interfaces.api]
            GrpcServerAddress     = "0.0.0.0:8083"
            HttpServerAddress     = "0.0.0.0:8084"

[registry]
    driver                    = "consul"
    [registry.consulconfig]
        [registry.consulconfig.config]
            address            = "consul:8500"
            scheme             = "http"

[openAPIServer]
    httpServerAddress     = "0.0.0.0:3000"
    grpcGatewayAddress    = "localhost:8085"
    scheme                = "http"
