[app]
    appEnv                = "default"
    serviceName           = "metro-producer"
    shutdownTimeout       = 2
    shutdownDelay         = 2
    gitCommitHash         = "nil"
[tracing]
    serviceName           = "metro-producer"
    logSpans              = false
    disabled              = false
    localAgentHostPort    = "jaeger:6831"
[sentry]
    appName               = "metro-producer"
    dsn                   = "dummy"
    mock                  = true
    errorLevel            = 1
[producer]
    [producer.broker]
        variant               = "kafka"
        [producer.broker.BrokerConfig]
            [producer.broker.BrokerConfig.Producer]
                Brokers       = ["localhost:9092"]
    [producer.registry]
        driver                    = "consul"
        [producer.registry.consulconfig]
            [producer.registry.consulconfig.config]
                address               = "localhost:8500"
                scheme                = "http"
    [producer.interfaces]
        [producer.interfaces.api]
            GrpcServerAddress     = "0.0.0.0:8081"
            HttpServerAddress     = "0.0.0.0:8082"
            InternalServerAddress = "0.0.0.0:8083"
[pushConsumer]
    [pushConsumer.registry]
        driver                    = "consul"
        [pushConsumer.registry.consulconfig]
            [producer.registry.consulconfig.config]
                address               = "localhost:8500"
                scheme                = "http"
    [pushConsumer.broker]
        variant               = "kafka"
        [pushConsumer.broker.BrokerConfig]
            [pushConsumer.broker.BrokerConfig.Consumer]
                Brokers       = ["localhost:9092"]
    [pushConsumer.interfaces]
        [pushConsumer.interfaces.api]
            GrpcServerAddress     = "0.0.0.0:8081"
            HttpServerAddress     = "0.0.0.0:8082"
            InternalServerAddress = "0.0.0.0:8083"
[pullConsumer]
    [pullConsumer.registry]
        driver                    = "consul"
        [push-consumer.registry.consulconfig]
            [push-consumer.registry.consulconfig.config]
                address               = "localhost:8500"
                scheme                = "http"
    [pullConsumer.broker]
        variant               = "kafka"
        [pullConsumer.broker.BrokerConfig]
            [pullConsumer.broker.BrokerConfig.Consumer]
                Brokers       = ["localhost:9092"]
    [pullConsumer.interfaces]
        [pullConsumer.interfaces.api]
            GrpcServerAddress     = "0.0.0.0:8081"
            HttpServerAddress     = "0.0.0.0:8082"
            InternalServerAddress = "0.0.0.0:8083"
[openAPIServer]
    httpServerAddress     = "0.0.0.0:3000"
    grpcGatewayAddress    = "localhost:8082"
    scheme                = "http"
