version: '3.8'

networks:
  rzp-dev-monitoring:
    driver: bridge

volumes:
  prometheus_data: {}
  grafana_data: {}

services:

  prometheus:
    image: prom/prometheus:v2.19.2
    container_name: rzp-prometheus
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention.time=200h'
      - '--web.enable-lifecycle'
    restart: unless-stopped
    ports:
      - "9090:9090"
    networks:
      - rzp-dev-monitoring
    external_links:
      - payouts-api
    labels:
      org.label-schema.group: "monitoring"

  jaeger:
    image: jaegertracing/all-in-one:1.18.1
    container_name: rzp-jaeger
    networks:
      - rzp-dev-monitoring
    ports:
      - "16686:16686"

  grafana:
    image: grafana/grafana:7.0.4
    container_name: rzp-grafana
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_USER=${ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${ADMIN_PASSWORD:-admin}
      - GF_USERS_ALLOW_SIGN_UP=false
    restart: unless-stopped
    ports:
      - "3000:3000"
    networks:
      - rzp-dev-monitoring
    labels:
      org.label-schema.group: "monitoring"
